<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimilarUCScrollDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB7925071C89190F00AEA90C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB79251B1C89190F00AEA90C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB7925261C89190F00AEA90C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
